/* 
цвет основного текста #757575
вторичный цвет текста #212121
цвет акуента #2196F3
цвет текста в футере rgba(255, 255, 255, 0.6)

темно серый фон #2F303A;
фон хедера #FFFFFF
основной фон #E5E5E5
вторичный фон #F5F4FA
*/

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --third-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    
    --primary-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
    --header-background-color: #FFFFFF;
    --hero-background-color: #2F303A;
}
 
body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

/* Шапка сайта */

.logo-part {
    color: var(--accent-color);
}
/* site-nav */
.site-nav .link{
    color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--hero-background-color);
}
.hero-title {
    color: var(--third-text-color);
}
.hero-button {
    background: var(--accent-color);
    color: var(--third-text-color);
}

/* sections */
.section {
    background-color: var(--primary-background-color);
}
.section-title {
    color: var(--secondary-text-color);
}

.our-team {
    background-color: var(--secondary-background-color);
}

/* footer */
.footer {
    background-color: var(--hero-background-color);
    color: var(--third-text-color);
}
.logo-footer {
    color: var(--third-text-color);
}
.footer-auth-nav {
    color: var(--footer-text-color);
}

.button {
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
}
.button:hover, .button:focus {
    color: var(--third-text-color);
    background-color: var(--accent-color);
}